<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>32738184002-181p2kqh8e1grb0r1b3kbndnsoe0l62t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.32738184002-181p2kqh8e1grb0r1b3kbndnsoe0l62t</string>
	<key>API_KEY</key>
	<string>AIzaSyDuZPe-e5jefJYvyJdDPYAjz3f_nry2s6E</string>
	<key>GCM_SENDER_ID</key>
	<string>32738184002</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatmeApp</string>
	<key>PROJECT_ID</key>
	<string>chat-app-test-fde22</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-app-test-fde22.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:32738184002:ios:644e19ab56c079c31796db</string>
</dict>
</plist>